.lead__title {
    margin: 0 0 32px;
    min-width: 720px;
    width: calc(100% - 264px);
    font-size: 96px;
    font-weight: 900;
    line-height: 100px;
    text-align: center;
}

@media screen and (max-width: 767px) {
    .lead__title {
        min-width: 288px;
        width: calc(100% - 16px*2);
        font-size: 40px;
        line-height: 44px;
        margin-bottom: 16px;
    }
}