.cover {
    position: relative;
    background-image: url(../../images/__background.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 1184px;
    max-width: 1184px;
    z-index: 1;
}

@media screen and (max-width: 1279px) and (min-width: 1024px) {
    .cover {
        min-width: 1024px;
        width: 100%;
    }
}